{% extends "redactors_tracking/index.html" %}

{% block content %}

<div class="container">
  <div class="mt-7">
    <div class="row">
      <div class="col-md-6">
        <h3>Topic:</h3>
        <h4>{{ newspaper.topic.name }}</h4>
      </div>
        <h3>Published:</h3>
        <h4>{{ newspaper.published_data }}</h4>
      <h3>Content:</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-20">
                    <div class="card border" style="width: 200%;">
                        <div class="card-body">
                            <h5 class="card-title">{{ newspaper.content }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% if newspaper.publishers.all %}
      <h3>Redactors:</h3>
      <table class="table text-center">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="table-active">ID</th>
            <th scope="col" class="table-active">Username</th>
            <th scope="col" class="table-active">Redactor id</th>
          </tr>
        </thead>
        {% for redactor in newspaper.publishers.all %}
          <tr>
            <th scope="row">
              {{ redactor.id }}
            </th>
            <td>
              <a href="{% url 'redactors_tracking:redactor-detail' pk=redactor.id%}">{{ redactor.username }}</a>
            </td>
            <td>
              {{ redactor.redactor_id }}
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>Don't have redactor</p>
    {% endif %}
    {% if user in newspaper.publishers.all %}
      <a href="{% url 'redactors_tracking:redactor-delete-newspaper' pk=newspaper.id %}" class="btn btn-danger">Delete me from this newspaper</a>
    {% else %}
    {% if newspaper.publishers.count < 5 %}
      <a href="{% url 'redactors_tracking:redactor-add-newspaper' pk=newspaper.id %}" class="btn btn-outline-success">Assign me to this topic</a>
    {% endif %}
    {% endif %}

    <div class="row">
      <div class="col-md-6 text-md-left">
        <a href="{% url 'redactors_tracking:newspaper-update' pk=newspaper.id %}" class="bg-gradient-primary btn btn-sm">Update</a>
      </div>
      <div class="col-md-6 text-md-right">
        <a href="{% url 'redactors_tracking:newspaper-delete' pk=newspaper.id%}" class="btn btn-outline-warning">Delete</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}
